
.oscillators{
    display:flex;
    flex-direction: column;
    & .content{
        display:flex;
        flex-direction: column;
        height: 100%;
        /* gap:10px; */
    }

    /* & .osc1 {
        margin-bottom: 10px;
    } */
}