
.slider{
    user-select: none  ;
    font-size: 10px;
    margin-inline: 10px;

    display:flex;
    flex-direction: row;
    gap:5px;

    & :not(.vertical) input[type="range"]{
        height: 20px;
    }

    & input[type="range"]{
        -webkit-appearance: none;
        width: 100%;
        background: transparent;
        border:1px solid #efefef;
    }

    & input[type="range"]:focus{
        border:1px solid #efefef;
    }
}

& .vertical{
    & input[type="range"] {
        writing-mode: vertical-lr;
        direction: rtl;
    }
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

